<div *ngIf="!isCollapsed">
    <!-- Vehicle Header -->
    <div class="container">
        <br>
        <div class="row">
            <h3 class="col-12">New Vehicles</h3>
        </div>
        <hr class="rounded">
    </div>
    <!-- End Divider -->



    <!-- Search Box -->
    <app-search-header></app-search-header>
    <!-- Search Result Header -->
    <div class="container">
        <br>
        <div class="row">
            <h3 class="col-12">Search Result</h3>
        </div>
        <hr class="rounded">
    </div>
    <!-- End Search Result Header -->

    <!-- Search Result Cards -->
    <app-new-inventory-search-result *ngFor="let car of cars" [car]="car"></app-new-inventory-search-result>
</div>



<new-vehicle-detail [car]="car" *ngIf="isCollapsed"></new-vehicle-detail>