

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav col-8">
            <a class="navbar-brand" href="#"> <img src="../assets/images/homeicon.jpeg" alt="Logo" style="width:40px;"></a>
            <li class="nav-item"  routerinkactive="active current">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <li class="nav-item"  routerinkactive="active current">
                <a class="nav-link" routerLink="/newInventory">New Inventory</a>
            </li>
            <li class="nav-item "  routerinkactive="active current">
                <a class="nav-link" routerLink="/usedInventory">Used Inventory </a>
            </li>
            <li class="nav-item"  routerinkactive="active current">
                <a class="nav-link" routerLink="/specials">Specials</a>
            </li>
            <li class="nav-item "  routerinkactive="active current">
                <a class="nav-link"  routerLink="/contactUs">Contact</a>
            </li>
            <li  *ngIf="showSalesUser || showAdminUser" class="nav-item"  routerinkactive="active current">
                <a class="nav-link"  routerLink="/sales">Sales</a>
            </li>
            <li *ngIf="showAdminUser" class="nav-item"  routerinkactive="active current"> 
                <a class="nav-link"  routerLink="/admin">Admin</a>
            </li>
            <li *ngIf="showAdminUser" class="nav-item"  routerinkactive="active current">
                <a class="nav-link"  routerLink="/users">Users</a>
            </li>
        </ul>
       
         <div class="col-4"><button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-outline-secondary float-right" type="submit">LogIn</button>
            <button *ngIf="isLoggedIn"  (click)="logout()" class="btn btn-outline-secondary float-right" type="submit">LogOut</button> </div>
         
        
    </nav>



<router-outlet></router-outlet>

